<ion-view>
    <ion-content class="has-footer has-header">
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Date</span>
                  <input type="date" />
            </label>


            <label class="item item-input">
                <span class="input-label">Heure</span>
                  <input type="time" />
            </label>

            <div class="item item-toggle">
                Mesure Auto
                <label class="toggle toggle-assertive">
                    <input type="checkbox" />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>


            <label class="item item-input">
                <span class="input-label">diastolique</span>
                <input type="number" placeholder="diastolique" />
                <span class="input-label">mmHg</span>
            </label>

            <label class="item item-input">
                <span class="input-label">systolique</span>
                <input type="number" placeholder="systolique"/>
                <span class="input-label">mmHg</span>
            </label>

            <label class="item item-input">
                <span class="input-label">fréquence</span>
                <input type="number" placeholder="fréquence"/>
                <span class="input-label">Bpm</span>
            </label>


        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-stable">

        <div class="title">

        </div>
        <div class="buttons">
            <a class="button" href="#/tab/actions">ENREGISTRER</a>
        </div>
    </ion-footer-bar>

</ion-view>
