<ion-view>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in items" ng-click="onRowClicked(item,$index);">
                    <div class="item-icon-left item-icon-left item-icon-right" href="#">
                        <i class="icon ion-android-checkmark-circle"></i>{{item.title}}
                        <i class="icon ion-chevron-right"></i>
                    </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
