<ion-view>

    <ion-content class="has-footer has-header">
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Date de la visite</span>
                  <input type="date" />
            </label>

            <label class="item item-input">
                <span class="input-label">Heure</span>
                <input type="time" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Comment vous sentez-vous ?</span>
                <div class="range range-positive">
                    <i class="icon ion-sad"></i>
                    <input type="range" name="volume" min="0" max="10" value="5" />
                    <i class="icon ion-happy-outline"></i>
                </div>
            </label>



            <label class="item item-input item-stacked-label">
                <span class="input-label">Décrire le symptôme</span>
                <textarea placeholder="(douleur, fatigue, anxiété etc.)" rows="5" cols="15"></textarea>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Que c'est-il passé</span>
                <textarea placeholder="(médicament différent, emotion, stress, repas différent etc.)" rows="5" cols="15"></textarea>
            </label>

        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-stable">
        <div class="buttons">
            <a href="#/tab/journal" class="button">Sauvergarder</a>
        </div>
        <div class="title">

        </div>
        <div class="buttons">
            <a href="#/tab/journal" class="button">Abandonner</a>
        </div>
    </ion-footer-bar>

</ion-view>
