<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">

        <h1 class="title">Login</h1>

    </ion-header-bar>

    <ion-content class="has-header">



        <label class="item-input">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item-input">
            <span class="input-label">Password</span>
            <input  type="password" placeholder="Password" ng-model="user.password">
        </label>

        <ion-checkbox ng-model="user.isRememberUser">Remember me</ion-checkbox>

        <div class="buttons text-center padding">
            <button class="button button-block" ng-click="submit()">Login</button>
        </div>
    </ion-content>
</ion-view>
