<ion-view>


    <ion-content class="has-footer has-header">


        <div class="list">
          <div class="item item-divider">
              <b>Nouveau Message</b>
            </div>
            <label class="item item-input">
                <span class="input-label">Destinataires</span>
                  <input type="text" />
            </label>

            <label class="item item-input">
                <span class="input-label">Titre</span>
                <input type="text" />
            </label>

            <label class="item item-input">
                <span class="input-label">Lien Action</span>
                <input type="text" />
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">Message</span>
                <textarea placeholder="Message" rows="5" cols="15"></textarea>
            </label>



        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-stable">
        <div class="buttons">
            <a href="#/tab/messages" class="button">Envoyer</a>
        </div>
        <div class="title">

        </div>
        <div class="buttons">
            <a href="#/tab/messages" class="button">Annuler</a>
        </div>
    </ion-footer-bar>

</ion-view>
