
<ion-nav-bar class="bar-positive">



    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>

    <ion-nav-title class="text-center">
        Lan Solo
    </ion-nav-title>

    <ion-nav-buttons side="right">
          <button class="button" ng-click="onLogoutClicked()">
            Logout
          </button>
        </ion-nav-buttons>

</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive" style="margin-bottom: 0 !important;">

    <ion-tab title="Actions du jour" icon="ion-flash" href="#/tab/actions">
        <ion-nav-view name="actions-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Journal" icon="ion-clipboard" href="#/tab/journal">
        <ion-nav-view name="journal-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mes messages" icon="ion-email" href="#/tab/messages">
        <ion-nav-view name="messages-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mon TdB" icon="ion-podium" href="#/tab/dashboard">
        <ion-nav-view name="dashboard-tab" ></ion-nav-view>
    </ion-tab>
</ion-tabs>
