

.no-margin-y {
  margin-top : 0px !important;
  margin-bottom:  0px !important;
}

.no-padding-y {
  padding-top : 0px !important;
  padding-bottom:  0px !important;
}

.sm-padding-y {
  padding-top : 8px !important;
  padding-bottom:  8px !important;
}

.sm-padding-top {
  padding-top : 8px !important;
}
.sm-padding-bottom {
  padding-bottom : 8px !important;
}

.text-warp {
  white-space: normal !important;
}

.msg-table-row-tree-a1 {
  width: 20px;
  border-left: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
}

.msg-table-row-tree-a2 {
  width: 20px;
  border-left: 1px solid rgb(150, 150, 150);
}

.anim-row-delete {
      opacity:0;
      transition:opacity 300ms linear;*
}
